<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-arrow-thick-left mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Navegue por el menu lateral para comenzar.

    </span>
    
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
