@page "/"
    <div class="jumbotron">
        <h1  class="display-4">Sistema de captura de empresas y empleados</h1>

        <h3>Bienvenido, ${usuario}</h3>
        <hr class="my-4"/>
        <SurveyPrompt Title="Gestionar?" />
        </div>
